
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: rgba(15, 92, 122, 0.459);
    background-image: url("fondo.png");

}
.fotomascotas {
    width: 400px;
    height: 200px;
    overflow: hidden;
    position: relative;
    
    
    margin: auto;
    border-radius:  20px;
    box-shadow: 5px 8px 12px  black;
    
}

.fotomascotas {
    width: 500px;
    height: 400px;
    overflow: hidden;
    position: relative;
    
    
    margin: auto;
    border-radius:  20px;
    box-shadow: 5px 8px 12px  black;
    
}
.tabla{
    position: relative;
    left: 200px;
}
.tabla img {
    width: 80%;
    height: 50%;

}


.form-registro {
    width: 400px;
    background-color:rgba(15, 92, 122, 0.459);
    padding: 30px;
    margin:  auto;
    border-radius:  20px;
    font-family: "impact";
    color: rgb(208, 208, 208);
  

   
   
}

.form-registro h4 {
    font-size: 24px;
    margin-bottom: 20px;

}

.controls {
    width: 100%;
    background-color: rgb(26, 26, 110);
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 10px;
    border: 1px solid #d8d8e6;
    font-family: 'calibri';
    color: white;
    font-size: 18px;

}

.form-registro p {
    height: 20px;
    text-align: center;
    font-size: 15px;


}

.form-registro a {
    color: whitesmoke;
    text-decoration: none;
    
}


.form-registro a:hover {
    color: whitesmoke;
    text-decoration: underline;
    
}

.form-registro .boton {
    width: 100%;
    background-color: rgb(71, 69, 240);
    
    padding: 10px;
    color: white;
    margin: 16px 0;
    font-size: 16px;

}
