* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgba(15, 92, 122, 0.459);
    background-image: url("fondo.png");
}


.veterinario {
    width: 600px;
    height: 450px;
    overflow: hidden;
    position: relative;
    margin: auto;
    border-radius: 20px;
    box-shadow: 5px 8px 12px black;
}
.veterinario img {
    width: 100%;
    height: 100%;
}
.tabla {
    position: relative;
    left: 250px;
    top: 60px;
}
.form-registro {
    width: 400px;
    background-color: rgba(15, 92, 122, 0.459);
    padding: 30px;
    margin: auto;
    border-radius: 20px;
    font-family: "Snap ITC";
    color: rgb(8, 44, 38);
    border-radius: 20px;
    box-shadow: 5px 8px 12px black;
}

.form-registro h4 {
    font-size: 26px;
    margin-bottom: 20px;

}

.controls {
    width: 100%;
    background-color: rgb(26, 26, 110);
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 10px;
    border: 1px solid #d8d8e6;
    font-family: 'calibri';
    color: white;
    font-size: 18px;
}

.form-registro p {
    height: 20px;
    text-align: center;
    font-size: 15px;
}

.form-registro a {
    color: whitesmoke;
    text-decoration: none;
}

.form-registro a:hover {
    color: whitesmoke;
    text-decoration: underline;
}

.form-registro .boton {
    width: 90%;
    background-color: rgb(71, 69, 240);

    padding: 10px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
    border-radius: 20px;
    box-shadow: 5px 8px 12px black;
    position: relative;
    left: 16px;
}

.form-registro .boton2 {
    width: 60%;
    background-color: rgb(67, 67, 116);

    padding: 10px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
    border-radius: 20px;
    box-shadow: 5px 8px 12px black;
    position: relative;
    left: 70px;
}