* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: rgba(15, 92, 122, 0.459);
    background-image: url("../img/fondo.png");

}
.fotodueno {
    width: 400px;
    height: 200px;
    overflow: hidden;
    position: relative;
    
    
    margin: auto;
    border-radius:  20px;
    box-shadow: 5px 8px 12px  black;
    
}

.fotodueno2 {
    width: 350px;
    height: 535px;
    overflow: hidden;
    position: relative;
    margin: auto;
    border-radius:  20px;
    box-shadow: 5px 8px 12px  black;
    
}

.fotodueno img {
    width: 100%;
    height: 100%;

}

.fotodueno2 img {
    width: 100%;
    height: 100%;

}

.fotoregmascota img {
    width: 350px;
    height: 535px;
    overflow: hidden;
    position: relative;
    margin: auto;
    border-radius:  20px;
    box-shadow: 5px 8px 12px  black;
    

}
.fotomascota img {
    width: 350px;
    height: 450px;
    overflow: hidden;
    position: relative;
    margin: auto;
    border-radius:  20px;
    box-shadow: 5px 8px 12px  black;
    

}
.fotodueno p{
 font-size: 25px; 
 font-size: 2rem;
 color: rgba(47, 11, 146, 0.897) ;
 position: absolute;
 top: 64%;
 left: 30%;
 transform: translate(-40%,50% );
 text-shadow: 0 10px 10px rgba(68, 5, 5, 0.8);
 font-family: 'Forte';

}

.form-registro {
    width: 400px;
    background-color:rgba(15, 92, 122, 0.459);
    padding: 30px;
    margin:  auto;
    border-radius:  20px;
    font-family: "impact";
    color: rgb(208, 208, 208);
  

   
   
}

.form-registro h4 {
    font-size: 24px;
    margin-bottom: 20px;

}

.controls {
    width: 100%;
    background-color: rgb(26, 26, 110);
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 10px;
    border: 1px solid #d8d8e6;
    font-family: 'calibri';
    color: white;
    font-size: 18px;

}

.form-registro p {
    height: 20px;
    text-align: center;
    font-size: 15px;


}

.form-registro a {
    color: whitesmoke;
    text-decoration: none;
    
}


.form-registro a:hover {
    color: whitesmoke;
    text-decoration: underline;
    
}

.form-registro .boton {
    width: 100%;
    background-color: rgb(71, 69, 240);
    
    padding: 10px;
    color: white;
    margin: 16px 0;
    font-size: 16px;

}

tabla {
    border: 2px solid;
    width: 400%;
    text-align: center;
    border-bottom: 1px solid #ddd;
    cursor:pointer;
    margin: 16px 20px;
    font-size: 20px;
    vertical-align: top;
    display: inline-block;
}

tr:nth-child(even) {background-color: #f6f2f2;}
th {
    background-color: #2158d7;
    color: rgb(240, 230, 230);
  }

contenedor {
    vertical-align: top;
    display: inline-block;
    
}
